{% extends 'base.html' %}

{% block content %}
<div class="jumbotron-packed">
<div class="container">
	<div class="col-md-3" align="left">
	</div>
	<div class="col-md-6" align="center">
        <p><span class="title-text">Something went wrong</span></p>
        <p>We couldn't find the file you were looking for - please try your request again.<br />
        If you continue to have problems with this site, <a href="https://github.com/eleanorstrib/valeez-reboot-heroku/issues/new" target="_blank">please let us know</a>.</p>
     </div>
     <div class="col-md-3">
     </div>
</div>
</div>
{% endblock %}