
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron-packed">
	<div class="container">
		{% if validlink %}
		<div class="col-md-3" align="left">
			<p><span class="title-text">Ready?</span></p>
		</div>
		<div class="col-md-6">
			<p><h3>Enter a new password and confirm.</h3></p>
			<p>&nbsp</p>
	        <form method="post" action=".">
	  			{% csrf_token %} 
	  			{{ form.as_p }}
	  		<p>&nbsp</p>
	  		<input type="submit" class="btn btn-custom" value="{% trans 'Submit' %}" />
			</form>

		{% else %}

		<p>{% trans "Password reset failed" %}</p>

		{% endif %}
	     </div>
	     <div class="col-md-3">
	     </div>
	</div>
</div>

{% endblock %}