
{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
	{% if validlink %}
	<div class="col-md-3" align="left">
		<p><span class="title-text">Change your password</span></p>
		Enter a new password and confirm.<br />
	</div>
	<div class="col-md-6">
        <form method="post" action=".">
  			{% csrf_token %} 
  			{{ form.as_p }}

  		<input type="submit" class="btn btn-custom" value="{% trans 'Submit' %}" />
		</form>

	{% else %}

	<p>{% trans "Password reset failed" %}</p>

	{% endif %}
     </div>
     <div class="col-md-3">
     </div>
</div>

{% endblock %}