/*STYLE GUIDE

COLORS
from: http://www.colourlovers.com/group/1960s/colors
Swiss Teal  AABBBB  170,187,187
Fabric Pink FF8C80  255,140,128
Conrad Gold FFDD00  255,221,0
Fabric Blue 36D9D9  54,217,217

FONTS

font-family: 'Cherry Cream Soda', serif;
font-family: 'Abel', sans-serif;
*/


#navbar-custom {
	background-color: #AABBBB ;
	border-radius: 0;
	font-family: 'Cherry Cream Soda', serif;
	font-size: 1em;
	margin-bottom: 0px;
}

#navbar-custom a {
	color: #FFFFFF;
}

#navbar-custom a:hover {
	color: #FF8C80 ;
}

.navbar-brand {
	font-size: 2em;
	color: #FFFFFF !important;
}


.icon-bar {
	background-color: #FFFFFF;
}

body {
	font-family: 'Abel', sans-serif;
}

.container {
	padding-top: 30px;
}

* {
  border-radius: 0 !important;
}

table, td, th {
	padding: 10px;
}

input, select {
    width: 100%;
}

.title-text {
	font-family: 'Cherry Cream Soda', serif;
	font-size: 1.5em;
}

.title-row {
	padding: 20px, 0px, 0px, 20px;
}

.valeez {

	background-color: #d6f7f7;
}


.number {
	font-family: 'Abel', sans-serif;
	font-size: 2em;
	color: #FF8C80;
}


.number-title {
	font-family: 'Abel', sans-serif;
	font-size: 1em;
}


.btn-custom {
	font-family: 'Abel', sans-serif;
	border: 5px solid #AABBBB;
	background-color: #AABBBB;
}

.btn-custom a {
	color: white;
	text-decoration: none;
}

.btn-custom a:hover {
	color: white;
	text-decoration: none;
}

.btn-custom a:focus {
	color: white;
	text-decoration: none;
}

.btn-custom:hover {
	font-family: 'Abel', sans-serif;
	color: #FF8C80;
	border: 5px solid  #FF8C80;
	background-color:  #FF8C80;
}
.jumbotron {
	position: relative;
    background: #000 url("../images/jumbotron.jpg") center center;
    width: 100%;
    min-height:400px;
    background-size: cover !important;
    overflow: hidden;
    margin-bottom: 0px;
}