/*STYLE GUIDE

COLORS
white #FFFFFF
pink #DF4B79 (rgb 223,75,121)
blue #459FC7 (rgb 69, 159, 199)
yellow #D2FF39 (rgb 210,255, 57)
green #3FCC8C (rgb 63, 204, 140)
brown orange #926C2F (rgb 146,108,47)

FONTS

font-family: 'Modern Antiqua', serif;
font-family: 'Abel', sans-serif;
*/


body {

	background-color: red;
}