{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
<div class="container">
	<div class="col-md-3" align="left">
		<p><span class="title-text">Almost there...</span></p>	
	</div>
	
	<div class="col-md-6">
		<p><h3>Check your email for an activation link.</h3></p>
		<p>Clicking that link will confirm your registration on valeez.com.</p> 
		<p>If you do not receive the email, check your spam folder, or sign up again.</p>
		<p>&nbsp</p>
		<p><button type="button" class="btn btn-custom"><a href="{% url 'auth_login' %}">log in</a></button></p>
		
        
    </div>
    
    <div class="col-md-3">
    </div>
</div>
</div>
{% endblock %}