{% extends 'base.html' %}

{% block content %}
<div class="jumbotron-packed">
<div class="container">
	<div class="col-md-3" align="left">
	</div>
	<div class="col-md-6" align="center">
        <p><span class="title-text">Oops - there was an error</span></p>
        <p>These things happen - please try again. <br />
        If you continue to have problems with this site, <a href="hhttps://github.com/eleanorstrib/valeez-reboot-heroku/issues/new" target="_blank">please let us know</a>.</p>
     </div>
     <div class="col-md-3">
     </div>
</div>
</div>
{% endblock %}