{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron-packed">
<div class="container">
	<div class="col-md-3" align="left">
		<p><span class="title-text">How it works</span></p>
	</div>
	<div class="col-md-6">
        <p><h3>Valeez uses weather forecasts and predictions to help you pack your suitcase.</h3></p>
        <p>Log in now to make your valeez -- awesomeness awaits!</p>
        
     </div>
     <div class="col-md-3">
     </div>
</div>
</div>
{% endblock %}