{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron-packed">
<div class="container">
	<div class="col-md-3" align="left">
		<p><span class="title-text">How it works</span></p>
	</div>
	<div class="col-md-6">
        <p><h3>Valeez uses weather forecasts and predictions to help you pack your suitcase.</h3></p>
        <br />
        <p>There are two main components of Valeez: weather data and an algorithm to assemble the packing list.</p>
        <p><strong>Weather data</strong></p>
        <p>All weather data in Valeez comes from <a href="http://www.wunderground.com/weather/api/">Weather Underground</a>.  Since weather is hard to predict and most forecasts aren't available more than 10 days out, the data used to build the packing list depends on the dates of the voyage:
        <ul>
        	<li>Voyages starting and ending within 10 days use data from a forecast.</li>
        	<li>Voyages that will not be completed within 10 days use planning data based on historical weather patterns.</li>
        </ul>
        </p>

        <p><strong>Packing list</strong></p>
        <p>Once the weather data is retrieved from the API, Valeez:
        <ol>
        	<li><strong>Matches the average temperature to one of five categories.</strong>  For example, if the average temperature for a destination is 90 degrees Fahrenheit or more, the voyage is
        	assigned the temperature category of "temp_high".</li>
        	<li><strong>Queries the PostgreSQL database to get data on garments and toiletries for the Valeez.</strong>The query filters the contents of the database by the temperature category as well as rain and snow probability and gender as specified by the user.</li>
      		<li><strong>Assigns quantities of items based on the duration of the trip.</strong> Each garment in the database is associated with a layer of clothing as a number from 1 to 5, one being the closest to your skin, like underwear, and five the furthest from your skin, like a coat. The lower the number, the greater the quantity of the item you'll need to bring, as you'll want to change clothing close to your skin frequently.  The actual quantity is determined by the number of days in the trip, so for a 5 day trip, you'd pack 5 pairs of underwear, but one coat and maybe 3 pairs of jeans.  Most toiletries are recommended for any trip that includes an overnight stay.</li>
        </ol>

        </p>
        <p>The site is built using the Django framework.</p>
     </div>
     <div class="col-md-3">
     </div>
</div>
</div>
{% endblock %}