{% extends 'base.html' %}

	{% block content %}
		<div class="jumbotron">
			<div class="container">

				<div class="col-sm-8 col-lg-7">
					<p><span class="title-text">Ready to get packing?</span></p>
					<p>Valeez is an app that helps you pack an optimal suitcase based on the length of your trip and your destination.</p>

					<div class="col-sm-6 col-lg-6" align="center">
						<p>
							<button type="button" class="btn btn-custom"><a href="{% url 'auth_login' %}">&nbsplog me in&nbsp</a></button>
						</p>
					</div>

					<div class="col-sm-6 col-lg-6" align="center">
						<p>
							<button type="button" class="btn btn-custom"><a href="{% url 'registration_register' %}">sign me up</a></button>
						</p>
					</div>


				<div class="col-sm-6 col-lg-3">
				</div>
				
			</div>
		</div>
	{% endblock %}
