{% extends "base.html" %}

{% block content %}
<div class="jumbotron-open">
<div class="container">

	<div class="col-md-3">
		<p><span class="title-text">Make a Demo Valeez</span></p>
		<p>Let us know the details of your trip to one of the top 20+ destinations in the US, and we'll get you packing!</p>

		<p>If you want to save your Valeez, <br/><a href="{% url 'auth_login' %}">log in</a> or <a href="{% url 'registration_register' %}">sign up!</a></p>
	</div>

	<div class="col-md-6"  align="center">
		<form action="" id="make-valeez" method="POST">
			<table>
				{% csrf_token %}
				<p>
				 {{ form.as_table }}
				 </p>
			</table>
			<p>&nbsp</p>
			<p><button type="submit" class="btn btn-custom">Make my valeez!</button></p>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>

	<div class="col-md-3">
	</div>

</div>
</div>
<!-- Needed to reference jQuery again here to get datepicker working -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- datepicker widget from jQuery UI -->
<script>
  $(document).ready(function() {
    $( ".datepicker" ).datepicker();
  });
</script>

{% endblock %}