{% extends 'base.html' %} 

{% block content %}

<div class="container" align="center">

	<div class="col-md-2" align="left">
		<span class="title-text">My Past Voyages</span>
	</div>

	<div class="col-md-8">
		{% if any_voyages %}
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<td>Destination</td>
						<td>Departure date</td>
						<td>Return date</td>
						<td>Valeez</td>
					</tr>
				</thead>
				<tbody>
					{% for voyage in voyages %}
						<tr> 
						<td>{{ voyage.get_destination_display }}</td>
						<td>{{ voyage.depart_date }}</td>
						<td>{{ voyage.return_date }}</td>
						<td>
							<button type="button" class="btn btn-custom" data-toggle="modal" data-target="#{{ voyage.id }}">
								  <i class="fa fa-suitcase"></i>
							</button>

							<div class="modal fade" id="{{ voyage.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

								        
								        <h4 class="modal-title" id="myModalLabel">Valeez for your trip to {{ voyage.get_destination_display}}, {{ voyage.depart_date }} to {{ voyage.return_date }}</h4>
								     </div>
								    <div class="modal-body">
								    	{{vquery}}


												<table class="table">
													<thead>
														<tr>
															<td>Item</td>
															<td>Quantity</td>
														</tr>
													</thead>
													<tbody>
															{% for key, value in vquery.items %}
															<tr>
																<td>{{ key }}</td>
																<td> {{ value }}</td>
															</tr>
															{% endfor %}
													</tbody>
												</table>
											</div>

								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									      </div>
									    </div>
									  </div>
									 
									</div>
						</td>

						</tr>

					{% endfor %}
				</tbody>
			</table>
			</div>
			<div class="col-md-2" align="left">
				<span class="title-text">My Past Voyages</span>
			</div>
			{% else %}
			<div class="col-md-3"></div>
			<div class="col-md-6" align="center">
				<p><h3>Looks like you haven't created any voyages yet.</h3></p>
				<p>Because your valeez will be based on the duration of your trip and the weather at the destination, specifying the details of your voyage are an important first step.</p>
				<p>But take heart, this is easy to fix!</p>
				<div class="containercol-md-12">
					<div class="col-md-6">
						<p>tell us about your upcoming voyage</p>
						<p><button type="button" class="btn btn-custom"><a href="{% url 'make_valeez' %}">go!</a></button></p>
					</div>
					<div class="col-md-6">
						<p>learn more about how it works</p>
						<p><button type="button" class="btn btn-custom"><a href="{% url 'make_valeez' %}">go!</a></button></p>
					</div>
		    	</div>
	    	</div>
	    	<div class="col-md-3"></div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}