{% extends "base.html" %}

{% block content %}
<div class="jumbotron-packed">
<div class="container" align="center">
	<div class="row destination">
		<p><span class="title-text">{{ this_user }}, get ready for your {{ duration }} day trip to {{ destination_pretty }}!</span></p>
		<p><h4>-- {{ depart_date }} to {{ return_date }} -- </h4></p>
		start: {{depart_delta}} return: {{return_delta}} tf: {{ delta }}
	</div>
	{% if use_ten_day_forecast %}
	<div class="row title-text title-row forecast">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			Weather Forecast
		</div>
		<div class="col-md-4 number">
		</div>
	</div>

		
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.low_temp_f}}&#8457</span><br />
			<span class="number-title">forecast low</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.high_temp_f }}&#8457</span><br />
			<span class="number-title">forecast high</span>
		</div>
			<div class="col-md-2">
			<span class="number">{{ forecast.precip }}%</span><br />
			<span class="number-title">chance of rain</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.snow }}"</span><br />
			<span class="number-title">forecast snow</span>
		</div>
		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button type="button" class="btn-custom" data-toggle="modal" data-target="#dailyForecast">Daily Forecast</button>

			<!-- Modal -->
			<div id="dailyForecast" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <div class="modal-title">Daily Forecast for {{ destination_pretty }}</div>
			      </div>
			      <div class="modal-body">
			      	<div class="row">
					{% for key, value in forecast_alldays.items %}
						{{ key }}
						{{ value }}
					{% endfor %}
			      </div>

			      <div class="modal-footer">
			        <button type="button" class="btn-custom" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>

	{% else %}
	<div class="row title-text title-row forecast">
		Historical Weather Forecast
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.avg_temp_f }}&#8457</span><br />
			<span class="number-title">expected temperature</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.min_temp_f}}&#8457</span><br />
			<span class="number-title">recorded low</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.max_temp_f }}&#8457</span><br />
			<span class="number-title">recorded high</span>
		</div>
			<div class="col-md-2">
			<span class="number">{{ forecast.precip }}%</span><br />
			<span class="number-title">chance of rain</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.snow }}%</span><br />
			<span class="number-title">chance of snow</span>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	{% endif %}
</div>

<div class="container" align="center">
	<div class="row title-row title-text">
	{{ item_count }} items in your valeez
	</div>

	<div class="row">
		{% for key, value in valeez.items %}
			<div class="col-md-2">
					<span class="number-blue">{{ value }}</span><br/>
					<span class="number-title">{{ key }}</span>
			</div>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}