{% extends "base.html" %}

{% block content %}

<div class="container" align="center">
	<div class="row destination">
		<p><span class="title-text">{{ this_user }} get ready to pack a valeez for your trip to {{ destination_pretty }}!</span></p>
		<p><h5>{{ depart_date }} to {{ return_date }}</h5></p>
	</div>

	<div class="row title-text title-row forecast">
		Forecast
	</div>

	<div class="row forecast">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<span class="number">{{ duration }}</span><br />
			<span class="number-title">days</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.avg_temp_f }}&#8457</span><br />
			<span class="number-title">average temperature</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.min_temp_f}}&#8457</span><br />
			<span class="number-title">recorded low</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.max_temp_f }}&#8457</span><br />
			<span class="number-title">recorded high</span>
		</div>
			<div class="col-md-2">
			<span class="number">{{ forecast.precip }}%</span><br />
			<span class="number-title">chance of percipitation</span>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

<div class="container valeez" align="center">
	<div class="row title-row title-text">
	Your valeez
	</div>

	<div class="row">
		{% for key, value in valeez.items %}
			<div class="col-md-2">
					<span class="number">{{ value }}</span><br/>
					<span class="number-title">{{ key }}</span>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}