{% extends "base.html" %}

{% block content %}
<div class="jumbotron-packed">
<div class="container" align="center">
	<div class="row destination">
		<p><span class="title-text">{{ this_user }}, get ready for your {{ duration }} day trip to {{ destination_pretty }}!</span></p>
		<p><h4>{{ depart_date }} to {{ return_date }}</h4></p>
	</div>

	{% if use_ten_day_forecast %}
	<div class="row title-row forecast">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<span class="title-text"> Weather Forecast&nbsp<a href="#" data-toggle="tooltip" data-placement="right" title="Recommendations for your valeez are based on the 10 day forecast for your destination -- see the 'how it works' section for details"><span class="glyphicon glyphicon-question-sign"></a></span>
		</div>
		<div class="col-md-4 number">
		</div>
	</div>

		
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.low_temp_f}}&#8457</span><br />
			<span class="number-title">forecast low</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.high_temp_f }}&#8457</span><br />
			<span class="number-title">forecast high</span>
		</div>
			<div class="col-md-2">
			<span class="number">{{ forecast.precip }}%</span><br />
			<span class="number-title">probability of precipitation</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.snow }}"</span><br />
			<span class="number-title">forecast snow (in)</span>
		</div>
		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button type="button" class="btn-custom" data-toggle="modal" data-target="#dailyForecast">Daily Forecast</button>

			<!-- Modal -->
			<div id="dailyForecast" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3><i class="fa fa-suitcase"></i>&nbsp&nbsp<span class="modal-title">Your daily forecast for {{ destination_pretty }}</span></h3>
			      </div>
			      <div class="modal-body">
					{% for key, value in forecast_alldays.items %}
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<img src="{{ value.icon }}"><br />
							<span class="title-text">day {{ value.day_pretty }}</span>
						</div>
						<div class="col-md-2">
							<span class="number">{{ value.high_temp_f }}&#8457</span><br />
							<span class="number-title">high</span>
						</div>
						<div class="col-md-2">
							<span class="number">{{ value.low_temp_f }}&#8457</span><br />
							<span class="number-title">low</span>
						</div>
						<div class="col-md-2">
							<span class="number">{{ value.pop_percent }}%</span><br />
							<span class="number-title">pop</span>
						</div>
						<div class="col-md-2">
							<span class="number">{{ value.snow_in }}"</span><br />
							<span class="number-title">snow (in)</span>
						</div>
						<div class="col-md-1"></div>
					</div>
					{% endfor %}
			      

			      <div class="modal-footer">
			        <button type="button" class="btn-custom" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>

	{% else %}
	<div class="row title-row forecast">
		<span class="title-text">Historical Weather Forecast&nbsp<a href="#" data-toggle="tooltip" data-placement="right" title="Recommendations for your valeez are based on historical data as a forecast is not available more than 10 days from today's date -- see the 'how it works' section for details"><span class="glyphicon glyphicon-question-sign"></a></span>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.avg_temp_f }}&#8457</span><br />
			<span class="number-title">expected temperature</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.min_temp_f}}&#8457</span><br />
			<span class="number-title">recorded low</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.max_temp_f }}&#8457</span><br />
			<span class="number-title">recorded high</span>
		</div>
			<div class="col-md-2">
			<span class="number">{{ forecast.precip }}%</span><br />
			<span class="number-title">probability of rain</span>
		</div>
		<div class="col-md-2">
			<span class="number">{{ forecast.snow }}%</span><br />
			<span class="number-title">probability of snow</span>
		</div>
		<div class="col-md-1">
		</div>
	</div>

	{% endif %}
</div>

<div class="container" align="center">
	<div class="row title-row title-text">
	{{ item_count }} items in your valeez
	</div>

	<div class="row">
		{% for key, value in valeez.items %}
			<div class="col-md-2">
					<span class="number-blue">{{ value }}</span><br/>
					<span class="number-title">{{ key }}</span>
			</div>
		{% endfor %}
	</div>
</div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}